<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        table {
        border: 1px solid black;
        border-collapse: collapse;
        width: 300px;
        margin-bottom: 20px;
        }
        
        td,th{
        border: 1px solid black;
        padding: 10px;
        vertical-align: middle;
        }
    </style>
    <title>Points Display Board | GUDLFT</title>
</head>
<body>
    <h2> Points Display Board</h2>
    <table>
        <thead>
            <tr>
                <th>Club</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
            {%for club in clubs%}
            <tr>
                <td>{{club['name']}}</td>
                <td>{{club['points']}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</body>
</html>